<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.your_app_id"> <!-- Substitua com o ID do seu aplicativo -->

    <!-- Permissões necessárias, se aplicável -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="Your App Name" <!-- Substitua com o nome do seu aplicativo -->
        android:icon="@mipmap/ic_launcher"> <!-- Substitua com o ícone do seu aplicativo -->

        <!-- Configuração da atividade principal do Flutter -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Configuração para a WebView -->
        <activity android:name="com.example.your_app_id.WebViewActivity"> <!-- Substitua com o nome da sua atividade WebView -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
